<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Sign In</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
    <style>
       
        body {
            background-color: #f8f9fa; 
            padding: 50px;
        }
        form {
            max-width: 400px; 
            margin: auto;
        }
        label {
            font-weight: bold; 
        }
        input[type="email"],
        input[type="password"] {
            width: 100%; 
            margin-bottom: 10px; 
        }
        button[type="submit"] {
            width: 100%;
            background-color: #007bff; 
            color: #fff; 
            border: none; 
            padding: 10px; 
            cursor: pointer; 
        }
        button[type="submit"]:hover {
            background-color: #0056b3; 
        }
    </style>
</head>
<body>
    

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="card-body ">
                        <% if (typeof error !== 'undefined') { %>
                        <p class="error-message mt-3 text-center "><%= error %></p>
                        <% } %>
                        <% if (typeof success !== 'undefined') { %>
                            <p class="error-message mt-3 text-center "><%= success %></p>
                            <% } %>
        <form action="/admin/signin" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" value="admin@gmail.com" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                <input type="password" class="form-control" id="Password"  name="Password" value="admin12" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
        <hr>
         <div class="text-center">
            <a href="/user/signup">Create new account</a>
        </div><br> 
        
    </div>
</div>
</div>
</div>
</div> 


     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
