<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

    </style>  
   
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container">
            <a class="navbar-brand" href="/user/homepage">Digit Mart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/product">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/cart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/wishlist">wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/wallet">wallet</a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="/user/logout">Logout</a> 
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   <br></br>
    <div class="container mt-4">
       
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReoAj0S1iRZ-Vfo7dS5mFCl4fVMJsRa4Z50A&s" class="card-img-top" alt="Product Image">
                   
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqIXrdAPX5KFW74Oz-f-iTa_DQjG6K4BoQBw&s" class="card-img-top" alt="Product Image">
                    
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuGVPe4Uaa5J9L5DVAY-0MSxqywL1mYTAGEQ&s" class="card-img-top" alt="Product Image">
                   
                </div>
            </div>
        </div>
        <br></br>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLaHhiNOoXzATHObEempkUqhj_s5JX4iWnuA&s" alt="black watch"> 
                    <div class="card-footer border-top border-gray-300 p-4">
                        <a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3">
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning"></span> 
                            <span class="badge bg-primary ms-2">4.7</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="h5 mb-0 text-gray">$299.00</span> 
                            <a class="btn btn-xs btn-tertiary" href="#">
                                <span class="fas fa-cart-plus me-2"></span> Add to cart
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
              <br>
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLaHhiNOoXzATHObEempkUqhj_s5JX4iWnuA&s" alt="black watch"> 
                    <div class="card-footer border-top border-gray-300 p-4">
                        <a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3">
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning"></span> 
                            <span class="badge bg-primary ms-2">4.7</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="h5 mb-0 text-gray">$299.00</span> 
                            <a class="btn btn-xs btn-tertiary" href="#">
                                <span class="fas fa-cart-plus me-2"></span> Add to cart
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
            <br>
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLaHhiNOoXzATHObEempkUqhj_s5JX4iWnuA&s" alt="black watch"> 
                    <div class="card-footer border-top border-gray-300 p-4">
                        <a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3">
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning"></span> 
                            <span class="badge bg-primary ms-2">4.7</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="h5 mb-0 text-gray">$299.00</span> 
                            <a class="btn btn-xs btn-tertiary" href="#">
                                <span class="fas fa-cart-plus me-2"></span> Add to cart
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
            <br>
            <div class="col-12 col-md-6">
                <div class="card shadow">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLaHhiNOoXzATHObEempkUqhj_s5JX4iWnuA&s" alt="black watch"> 
                    <div class="card-footer border-top border-gray-300 p-4">
                        <a href="#" class="h5">Apple Watch Series 3</a>
                        <h3 class="h6 fw-light text-gray mt-2">Space Gray Aluminum Case with Black Sport Band</h3>
                        <div class="d-flex mt-3">
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning me-1"></span> 
                            <span class="star fas fa-star text-warning"></span> 
                            <span class="badge bg-primary ms-2">4.7</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span class="h5 mb-0 text-gray">$299.00</span> 
                            <a class="btn btn-xs btn-tertiary" href="#">
                                <span class="fas fa-cart-plus me-2"></span> Add to cart
                            </a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>

        
    </div>

 
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
